{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}

{% block content %}
<h2>{% if user.is_authenticated %}{{request.user}} Cart {% else %} Login to show your cart {% endif %}</h2>
{% if user.is_authenticated %}
    <ul>
    {% for item in cart_items %}
    <li> {{item.product.name}} - Quantity: {{item.quantity}} - Price: ${{item.product.price}}- subtotall = ${{item.subtotal}}

        <form action = "{% url "remove_from_cart" %}" method="post" >
            {% csrf_token %}
            <input type="hidden" name="cartitem_id" value="{{item.id}}">
            <button class="btn btn-primary">Remove</button>
        </form>
        

    <form action="{% url "update_cart" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="cartitem_id" value="{{item.id}}">
        <button  type="submit" name="action" value="decrease">-</button>
        <span>{{ item.quantity }}</span>
        <button  type="submit" name="action" value="increase">+</button>
    </form>



    </li>

    {% empty %}
    <li>Your cart is empty.</li>
    {% endfor %}
    <li>Grand Totall = ${{grand_totall}}</li>
    </ul>
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a>
    {% endif %}

{% endblock %}
