{% extends "base.html" %}
{% block title %} Check-Out {% endblock %}

{% block content %}
<ul>
    {% for item in cart_items %}
        <li> {{item.quantity}} : {{item.product.name}}  ${{item.product.price}}</li>
    {% endfor %}
</ul>
        
<form action="{% url "check_out" %}" method="post">
        {% csrf_token %}

    <!-- Shipping Info -->
        <label for="address">Shipping Address:</label>
        <input type="text" name="address" id="address" required>

        <label for="city">City:</label>
        <input type="text" name="city" id="city" required>

        <label for="postal_code">Postal Code:</label>
        <input type="text" name="postal_code" id="postal_code" required>

        <!-- Payment Method -->
        <label for="payment">Payment Method:</label>
        <select name="payment" id="payment">
            <option value="cod">Cash on Delivery</option>
            <option value="card">Credit/Debit Card</option>
        </select>
        Grand Totall = ${{cart_grand_total}}
        <button type="submit">Place Order</button>
    </form>

{% endblock %}